version: '3'

services:
  camunda:
    build: ./camunda
    ports:
      - "8080:8080"
    restart: unless-stopped
  deployment:
    build: ./camunda
    command: "/usr/bin/curl -X POST http://camunda:8080/engine-rest/deployment/create -F \"deployment-name=Demo\" -F \"deploy-changed-only=true\" -F \"deployment-source=Demo\" -F \"a=@/tmp/deployment/xkcd-fetch-review.bpmn\" -F \"b=@/tmp/deployment/xkcd-search.bpmn\" -F \"c=@/tmp/deployment/review.html\" -F \"d=@/tmp/deployment/camunda-reset.bpmn\""
    restart: on-failure
