[Desktop Entry]
StartupWMClass=camunda-modeler
Version=1.0
Name=Modeler
Exec=camunda-modeler
StartupNotify=true
Terminal=false
Icon=/home/vagrant/.config/vagrant/camunda-modeler.png
Type=Application
MimeType=application/bpmn+xml;application/dmn+xml
