[Desktop Entry]
Categories=Utility;TextEditor;Development;IDE;
Comment=Code Editing. Redefined.
Exec=code /var/lib/carrot-rcc
GenericName=Text Editor
Icon=/home/vagrant/.config/vagrant/robocorp-code.png
MimeType=text/plain;inode/directory;
Name=Code
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=Code
Actions=new-empty-window;
Keywords=vscode;
